.header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 16px 24px 8px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  pointer-events: none;
}
.logoLink {
  display: flex;
  pointer-events: auto;
}
.logo {
  height: 32px;
  width: auto;
}
@media (max-width: 640px) {
  .header {
    padding: 24px 16px 8px;
  }
}
