.nav {
  pointer-events: auto;
}

.items {
  display: flex;
  color: #fff;
  gap: 40px;
}
.button {
  display: none;
}
@media (max-width: 640px) {
  .nav {
    display: none;
  }
  .nav.open {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-background);
    color: var(--color-text-unpainted);
    padding: 24px 16px;
    pointer-events: auto;
  }
  .items {
    flex-direction: column;
    gap: 24px;
    align-items: center;
  }

  .button {
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
  }
  .close {
    position: absolute;
    top: 16px;
    right: 16px;
  }
}
