.title {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  font-family: 'system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif';
  margin-bottom: 24px;
}
.text {
  font-size: 1rem;
  text-align: center;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 840px;
  margin: -40px auto 0;
  padding: 160px 80px;
  border-radius: var(--border-radius);
}

.container dl {
  margin: 0;
}

.container dd {
  margin: 0;
}
